.root {
  width: 100%;
  height: 80px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 5%);
  user-select: none;
  .saturation {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    .main {
      margin-left: 20px;
      width: calc(100% - 40px);
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
      }
      .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
