.root {
  position: absolute;
  width: 100%;
  height: 100%;
  .main {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
  }
  .popup {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0;
    height: 0;
  }
}
