@font-face {
  font-family: 'designhouse';
  src: url('/assets/fonts/designhouseBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'designhouse';
  src: url('/assets/fonts/designhouseLight.ttf');
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/assets/fonts/NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/assets/fonts/NotoSansKR-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/assets/fonts/NotoSansKR-Light.otf');
  font-weight: lighter;
}
