@import './fonts.scss';

html, body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    height: 20%;
    background-color: black;
    border-radius: 4px;
  }
}
